extends layout

block content
    form(name="addMessage", method="post", action="/new")
        div.input
            span.label Name  &nbsp;
            input(type="text", name="username")
        br
        div.input
            span.label Message &nbsp;
            input(type="textarea", name="message")
        br
        div.input
            span.label Avatar URL &nbsp;
            input(type="url", name="avatarURL")
        br
        div.actions
            input(type="submit", value="add")