body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.messageWrapper {
  width: 40%;
  margin: 25px;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  list-style-type:none;
}
  .user {
    font-size: 12px;
    padding-left: 50px;
    margin-top: 20px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  .messageWrapper a{
    text-decoration: none;
    color: darkolivegreen
  }
  .text {
    display: flex;/
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-style: italic;
  }
    .added {
      align-self: flex-end;
      font-size: 12px;
      margin-top: -20px;
      font-style: italic;
      font-weight: bold;
    }

    .avatar{
      height: 40px;
      margin-top: -25px;
      width: 40px;
      border-radius: 55%;
    }


.messageWrapper:nth-child(odd){
  align-self: start;
  background-color:honeydew;
}

.messageWrapper:nth-child(even){
  align-self: end;
  background-color: lightcyan;
}